[Unit]
Description=DBus interface to control display brightness under Wayland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=rs.wl-gammarelay
ExecStart=/usr/bin/wl-gammarelay-rs
Restart=on-failure
RestartSec=1s
RestrictAddressFamilies=AF_UNIX
IPAddressDeny=any

[Install]
WantedBy=graphical-session.target
